.container{
    padding: 0px;
    margin: 50px auto;
    padding: 5px;
    /* transition: all 1s ease-in-out; */
    display: flex;
    flex-direction: column;

}

.container .h1-primary{
    /* font-size: vw; */
    text-align: center;
    margin: 0px auto 30px auto;
    font-size: 50px;
}

.container .ttt-grid{
    padding: 5px;
    background: #000000;
    margin: auto;
    height: 490px;
    width: 490px;
    /* transition: all .5s ease-in-out; */
}

.container .row{
    margin: 0px;
    padding: 0px;
}
.container .box .box-tiles{
    border-radius: 8px;
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 0px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 1s ease-in-out; */

}
#body-color{
    padding: 3px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(255, 0, 0);
    /* height: 10px; */
    width: 500px;
    margin: 10px auto;
    transition: all .1s ease-in-out;
    /* display: none; */
}

/* .container .box .box-tiles span{
    height: 150px;
    width: 150px;
} */

.cross{
    background-image: url(../img/x.png);
    background-repeat: no-repeat;
    overflow: hidden;
    /* transition: background 1s ease-in-out !important; */
}

.ooo{
    background-image: url(../img/-o.png);
    background-repeat: no-repeat;
    overflow: hidden;
    /* transition: background 1s ease-in-out !important; */

}

.postmatch{
    border-radius: 3px;
    width: 80vw;
    height: 50vh;
    background:palevioletred;
    /* background-color: rgb(255, 255, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* transition: all 1s ease-in-out; */
}

.postmatch h1{
    color: #ffffff;
    font-size: 50px;
    /* transition: all 1s ease-in-out; */
}

@media screen and (max-width: 800px) {
    .container{
        margin-bottom: 35px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .h1-primary{
        font-size: 8vw;
        text-align: center;
        margin: 0px auto 30px auto;
    }
    .container .ttt-grid{
        padding: 5px;
        background: #000000;
        margin: auto;
        height: 490px;
        width: 490px;
    }
    #body-color{
        padding: 3px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgb(255, 0, 0);
        /* height: 10px; */
        width: 90vw;
        margin: 10px auto;
        /* display: none; */
    }
    
    .postmatch{
        width: 90vw;
        height: 50vw;
    }
    .postmatch h1{
        text-align: center;
        font-size: 10vw;
    }
}

@media screen and (max-width: 500px) {
    .container{
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .ttt-grid{
        padding: 0px;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 90vw;
        width: 90vw;
    }
    .container .row{
        /* margin: 0px;
        padding: 0px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .box .box-tiles{
        height: 29vw;
        width: 29vw;
        margin: 0.4vw;
        padding: auto;
        background-color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #body-color{
        padding: 3px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgb(255, 0, 0);
        /* height: 10px; */
        width: 90vw;
        margin: 10px auto;
        /* display: none; */
    }
    
    .cross{
        background-image: url(../img/x.png);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: 28vw 28vw;
        background-position: center;
    }

    .ooo{
        background-image: url(../img/-o.png);
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: 28vw 28vw;
        background-position: center;

    }

    .postmatch{
        width: 90vw;
        height: 50vw;
    }
    .postmatch h1{
        text-align: center;
        font-size: 10vw;
    }
}
